In [41]:
profile={"NAME":["Pankaj yadav","pooja rao","aman singh",'ravi kumar'],"EMAIL":["raopankaj@gamil.com","yadavpooja@gmail.com","singhaman@gmail.com","kumarravi@gmail.com"]}

In [42]:
profile

{'NAME': ['Pankaj yadav', 'pooja rao', 'aman singh', 'ravi kumar'],
 'EMAIL': ['raopankaj@gamil.com',
  'yadavpooja@gmail.com',
  'singhaman@gmail.com',
  'kumarravi@gmail.com']}

In [4]:
import pandas as pd

In [43]:
df=pd.DataFrame(profile)

In [44]:
df

           NAME                 EMAIL
0  Pankaj yadav   raopankaj@gamil.com
1     pooja rao  yadavpooja@gmail.com
2    aman singh   singhaman@gmail.com
3    ravi kumar   kumarravi@gmail.com

In [45]:
type(df)

pandas.core.frame.DataFrame

In [46]:
FNAME=[]
LNAME=[]
for i in df['NAME']:
    FNAME.append(i.split()[0].upper())
    LNAME.append(i.split()[1].upper())
    
df['FNAME']=FNAME
df['LNAME']=LNAME

In [47]:
df

           NAME                 EMAIL   FNAME  LNAME
0  Pankaj yadav   raopankaj@gamil.com  PANKAJ  YADAV
1     pooja rao  yadavpooja@gmail.com   POOJA    RAO
2    aman singh   singhaman@gmail.com    AMAN  SINGH
3    ravi kumar   kumarravi@gmail.com    RAVI  KUMAR

In [56]:
username=[]
for i in df["EMAIL"]:
    username.append(i.split("@")[0])
    
df['username']=username

In [57]:
df

           NAME                 EMAIL   FNAME  LNAME    username
0  Pankaj yadav   raopankaj@gamil.com  PANKAJ  YADAV   raopankaj
1     pooja rao  yadavpooja@gmail.com   POOJA    RAO  yadavpooja
2    aman singh   singhaman@gmail.com    AMAN  SINGH   singhaman
3    ravi kumar   kumarravi@gmail.com    RAVI  KUMAR   kumarravi

In [62]:
nemail=[]
for i in username:
    nemail.append(i+"@gmail.com")
df['nemail']=nemail

In [63]:
df

,NAME,EMAIL,FNAME,LNAME,username,nemail
0,Pankaj yadav,raopankaj@gamil.com,PANKAJ,YADAV,raopankaj,raopankaj@gmail.com
1,pooja rao,yadavpooja@gmail.com,POOJA,RAO,yadavpooja,yadavpooja@gmail.com
2,aman singh,singhaman@gmail.com,AMAN,SINGH,singhaman,singhaman@gmail.com
3,ravi kumar,kumarravi@gmail.com,RAVI,KUMAR,kumarravi,kumarravi@gmail.com

In [71]:
intro=[]
for i in range(len(df)):
    intro.append('My name is {} and my email is {}'.format(df['FNAME'][i],df['EMAIL'][i]))
df['intro']=intro

In [72]:
df

,NAME,EMAIL,FNAME,LNAME,username,nemail,intro
0,Pankaj yadav,raopankaj@gamil.com,PANKAJ,YADAV,raopankaj,raopankaj@gmail.com,My name is PANKAJ and my email is raopankaj@ga...
1,pooja rao,yadavpooja@gmail.com,POOJA,RAO,yadavpooja,yadavpooja@gmail.com,My name is POOJA and my email is yadavpooja@gm...
2,aman singh,singhaman@gmail.com,AMAN,SINGH,singhaman,singhaman@gmail.com,My name is AMAN and my email is singhaman@gmai...
3,ravi kumar,kumarravi@gmail.com,RAVI,KUMAR,kumarravi,kumarravi@gmail.com,My name is RAVI and my email is kumarravi@gmai...

In [78]:
df['nname']=df['intro'][0][11:17]

'PANKAJ'

In [85]:
name_len=len(df['FNAME'][i])
ra=11+name_len

In [93]:
nname=[]
for i in range(len(df)):
    name_len=len(df['FNAME'][i])
    ra=11+name_len
    nname.append(df['intro'][i][11:ra])
df['nname']=nname

In [94]:
df

,NAME,EMAIL,FNAME,LNAME,username,nemail,intro,nname
0,Pankaj yadav,raopankaj@gamil.com,PANKAJ,YADAV,raopankaj,raopankaj@gmail.com,My name is PANKAJ and my email is raopankaj@ga...,PANKAJ
1,pooja rao,yadavpooja@gmail.com,POOJA,RAO,yadavpooja,yadavpooja@gmail.com,My name is POOJA and my email is yadavpooja@gm...,POOJA
2,aman singh,singhaman@gmail.com,AMAN,SINGH,singhaman,singhaman@gmail.com,My name is AMAN and my email is singhaman@gmai...,AMAN
3,ravi kumar,kumarravi@gmail.com,RAVI,KUMAR,kumarravi,kumarravi@gmail.com,My name is RAVI and my email is kumarravi@gmai...,RAVI

In [103]:
df

,NAME,EMAIL,FNAME,LNAME,username,nemail,intro,nname,femail
0,Pankaj yadav,raopankaj@gamil.com,PANKAJ,YADAV,raopankaj,raopankaj@gmail.com,My name is PANKAJ and my email is raopankaj@ga...,PANKAJ,PANKAJ and my email
1,pooja rao,yadavpooja@gmail.com,POOJA,RAO,yadavpooja,yadavpooja@gmail.com,My name is POOJA and my email is yadavpooja@gm...,POOJA,POOJA and my email
2,aman singh,singhaman@gmail.com,AMAN,SINGH,singhaman,singhaman@gmail.com,My name is AMAN and my email is singhaman@gmai...,AMAN,AMAN and my email
3,ravi kumar,kumarravi@gmail.com,RAVI,KUMAR,kumarravi,kumarravi@gmail.com,My name is RAVI and my email is kumarravi@gmai...,RAVI,RAVI and my email

In [ ]:
df.drop(df['femail'])