In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('deliveries.csv')

In [6]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          150460 non-null  int64
 1   inning            150460 non-null  int64
 2   batting_team      150460 non-null  object
 3   bowling_team      150460 non-null  object
 4   over              150460 non-null  int64
 5   ball              150460 non-null  int64
 6   batsman           150460 non-null  object
 7   non_striker       150460 non-null  object
 8   bowler            150460 non-null  object
 9   is_super_over     150460 non-null  int64
 10  wide_runs         150460 non-null  int64
 11  bye_runs          150460 non-null  int64
 12  legbye_runs       150460 non-null  int64
 13  noball_runs       150460 non-null  int64
 14  penalty_runs      150460 non-null  int64
 15  batsman_runs      150460 non-null  int64
 16  extra_runs        150460 non-null  int64
 17  total_runs        150460 non-null  int64
 18  player_dismissed  7438 non-null    object
 19  dismissal_kind    7438 non-null    object
 20  fielder           5369 non-null    object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

In [9]:
last_df=df[df['over']>15]

In [12]:
last_df.groupby('bowler')['total_runs'].sum().sort_values(ascending=False).head()

bowler
DJ Bravo         1300
SL Malinga       1300
R Vinay Kumar    1137
P Kumar          1058
UT Yadav         1013
Name: total_runs, dtype: int64

In [17]:
last_df.groupby('bowler')['player_dismissed'].count().sort_values(ascending=False).head()

bowler
SL Malinga       108
DJ Bravo          79
B Kumar           65
A Nehra           63
R Vinay Kumar     60
Name: player_dismissed, dtype: int64

In [20]:
df.groupby('batsman')['total_runs'].sum().sort_values(ascending=False)

batsman
SK Raina          4745
V Kohli           4588
G Gambhir         4388
RG Sharma         4334
DA Warner         4213
                  ...
IC Pandey            0
U Kaul               0
V Pratap Singh       0
Sunny Gupta          0
RR Bhatkal           0
Name: total_runs, Length: 461, dtype: int64

In [38]:
df.groupby('bowling_team').get_group('Sunrisers Hyderabad')[['batsman','total_runs']]

              batsman  total_runs
125          CH Gayle           1
126     Mandeep Singh           0
127     Mandeep Singh           0
128     Mandeep Singh           2
129     Mandeep Singh           4
...               ...         ...
150455    Sachin Baby           2
150456    Sachin Baby           0
150457  Iqbal Abdulla           1
150458    Sachin Baby           1
150459  Iqbal Abdulla           4

[8888 rows x 2 columns]

In [92]:
def run(team,batsmans):
    ch=df.groupby(['bowling_team','batsman']).get_group((team,batsmans))
    runs=ch['total_runs'].sum()
    return print(('Run score by '+ batsmans +' aganinst '+ team +' is') ,runs)

In [93]:
run('Chennai Super Kings','CH Gayle')

Run score by CH Gayle aganinst Chennai Super Kings is 309

In [95]:
run('Royal Challengers Bangalore','MS Dhoni')

Run score by MS Dhoni aganinst Royal Challengers Bangalore is 634

In [114]:
def run(team,bowlers):
    ch=df.groupby(['batting_team','bowler']).get_group((team,bowlers))
    runs=ch['player_dismissed'].shape[0]-ch['player_dismissed'].isna().sum()
    return print(('Wicket taken by '+ bowlers +' aganinst '+ team +' is') ,runs)

In [115]:
run('Royal Challengers Bangalore','DJ Bravo')

Wicket taken by DJ Bravo aganinst Royal Challengers Bangalore is 11

In [113]:
df['player_dismissed'].shape[0]-df['player_dismissed'].isna().sum()

7438

In [116]:
df['batting_team'].value_counts()

Mumbai Indians                 18943
Royal Challengers Bangalore    17678
Kings XI Punjab                17594
Kolkata Knight Riders          17229
Delhi Daredevils               17185
Chennai Super Kings            15754
Rajasthan Royals               13914
Sunrisers Hyderabad             9058
Deccan Chargers                 9034
Pune Warriors                   5443
Gujarat Lions                   3566
Rising Pune Supergiant          1900
Kochi Tuskers Kerala            1582
Rising Pune Supergiants         1580
Name: batting_team, dtype: int64